/* Google Fonts - Outfit
______________________________ */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap');

/* Variables
_______________________________*/
:root {
    --primary: 	#6cc599;
    --primary-hover: #448f69;
    --secundary: #c5c26c;
    --secundary-hover: #c5cf69;

    --font: 'Outfit', sans-serif;
    --font-color: rgb(68, 68, 68);

    --transition: 0.3s ease;
    --gray-light: rgb(240, 240, 240);
    --dark-gradient: rgba(0,0,0,0.8);
    
    --border-color: rgb(228, 228, 228);
    --border-radius: 10px;
    --box-shadow: 0px 0px 5px 0px #ccc;

    --yellow: #c5c26c;
    --red: #c56c6c;
}

/* Format Styles
______________________________ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: var(--font);
    color: var(--font-color);
    background: rgb(243, 243, 243);
}

a {
    text-decoration: none;
    transition: var(--transition);
}

ul{
    list-style: none;
}

button, input {
    background: transparent;
    border: none;
    outline: none;
    font-family: var(--font);
    transition: var(--transition);
    box-shadow: none;
}

img {
    object-fit: cover;
    width: 30px;
    height: 30px;
}

/* Animations
__________________________ */

@keyframes rotate {
    0%{transform: rotate(0);}
    100%{transform: rotate(360deg);}
}

/* JavaScript Class 
____________________________*/
.sidebar.hidden {
    width: 80px;
    /* overflow: hidden; */
    align-items: center;
}

.sidebar.hidden .sidebar-title {
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
}

.sidebar.hidden .sidebar-link span {
    opacity: 0;
    transition: var(--transition);
    visibility: hidden;
}

.sidebar.hidden .sidebar-link i {
    font-size: 20px;
    transition: var(--transition);
}

.sidebar-footer-options.active {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

.sidebar.hidden .sidebar-footer-options {
    transform: translateX(150px);
}

.document-options.active {
    height: auto;
    max-height: 250px;
    opacity: 1;
    visibility: visible;
}

.document-icon.active {
    transform: rotate(90deg);
    color: var(--primary);
}

.document-options-message.active {
    display: block;
}

.modal.active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.container-preloader.hidden {
    transform: translateY(-10px);
    opacity: 0;
    visibility: hidden;
}

.user-actions.active {
    height: 350px;
}

.card-profile-data-state-icon.active {
    color: var(--primary);
}

.card-profile-data-state-icon.banned {
    color: var(--red);
}