/* Imports
______________________ */
/* Globals Styles */

@import url("./globals-styles.css");
/* Header */
@import url("./header.css");
/* Sidebar */
@import url("./sidebar.css");

/* Preloader */
@import url("./preloader.css");

/* Container
______________________ */
.container-template {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

/* Main
_______________________ */
.main {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  transition: var(--transition);
  overflow: auto;
}

.main.main-home {
  padding: 0;
  gap: 0;
}


/* Content
______________________ */
.content {
  width: 100%;
  padding: 10px 30px;
  padding: 20px;
  transition: var(--transition);
  
}

.title {
  font-weight: 600;
}

/* Home
_______________________ */
.home-banner {
  width: 100%;
  min-height: 50vh;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/home-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.home-banner-title {
  color: #fff;
  font-weight: 700;
}

.home-banner-button {
  padding: 15px 20px;
  background: var(--primary);
  color: #fff;
  border-radius: 80px;
}

.home-banner-button:hover {
  background: var(--primary-hover);
  color: #fff;
}

.home-cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 30px;
  margin: auto;
}

.home-card {
  border: 1px solid #ccc;
  padding: 20px;
  background: #fff;
  border-radius: var(--border-radius);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  gap: 10px;
}

.home-card-image {
  width: 120px;
  height: 120px;
  border-radius: 100%;
}

.home-card-title {
  font-size: 20px;
}

.home-card-list {
  list-style: auto;
}

/* Dashboard
_______________________ */
.cards-amount {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px 0;
}

.card-amount {
  width: 300px;
  padding: 20px;
  background: #fff;
  border-radius: var(--border-radius);
  transition: var(--transition);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  /* box-shadow: 0px 0px 5px 0px #ccc;
  -webkit-box-shadow: 0px 0px 5px 0px #ccc;
  -moz-box-shadow: 0px 0px 5px 0px #ccc; */
}

.card-amount:hover {
  transform: translateY(-5px);
}

.card-amount-icon {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: var(--primary);
  background: #b8f7d7;
}

.card-amount-number {
  font-size: 30px;
  font-weight: 700;
}

.card-amount-text {
  font-size: 18px;
}


/* Documents
________________________________ */
.documents {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px 0;
}

.document {
  width: 300px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: var(--border-radius);
  transition: var(--transition);
  cursor: pointer;
  border: 1px solid var(--border-color);
  padding: 20px;
  position: relative;
  font-weight: 700;
  background: #fff;
}

.document-icon {
  transition: var(--transition);
  font-size: 18px;
  color: var(--primary);
}

.document:hover > .document-icon {
  color: var(--primary);
}

.document-options {
  position: absolute;
  width: 100%;
  border-radius: var(--border-radius);
  top: 70px;
  left: 0;
  height:0;
  transition: var(--transition);
  box-shadow: 0px 4px 5px 0px rgba(204,204,204,0.75);
  -webkit-box-shadow: 0px 4px 5px 0px rgba(204,204,204,0.75);
  -moz-box-shadow: 0px 4px 5px 0px rgba(204,204,204,0.75);
  overflow: auto;
  border: 1px solid #ccc;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  z-index: 100;
}

.document-option {
  width: 100%;
  height: 50px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: var(--transition);
}

.document-option:hover {
  background: var(--gray-light);
}

.document-option:hover > .document-option-icon {
  color: var(--primary);
}

/* Modal */

.modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--dark-gradient);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  z-index: 999;
  transition: var(--transition);
  transform: translateY(-10px);
  opacity: 0;
  visibility: hidden;
}

.modal-content {
  width: 100%;
  max-width: 1024px;
  background: #fff;
}

.modal-document {
  width: 100%;
  height: 600px;
}

.modal-button-close {
  position: absolute;
  top: 20px;
  right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  font-size: 30px;
}

.row {
  margin: auto;
}

/* Form
___________________________ */
form {
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 10px 0;
}

.form-control {
  box-shadow: none !important;
  padding: 10px 20px;
  outline: none;
  color: var(--font-color);
  letter-spacing: 1px;
  border-radius: 80px;
  background: rgb(255, 255, 255);
  border-color: #ccc;
  height: 50px;
  border-color: 1px solid #ccc;
}

.form-buttons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.btn, .btn-success {
  padding: 10px 20px;
  font-size: 15px;
  transition: var(--transition);
  border-radius: 80px;
  background: var(--primary);
  border-color: transparent;
  color: #fff;
}

.btn:hover,
.btn-success:hover {
  background: var(--primary-hover);
  border-color: transparent;
}

.btn-warning {
  background: var(--secundary);
}

.btn-warning:hover {
  background: var(--secundary-hover);
  color: #fff;
}

/* Table */
table {
  background: #fff;
}

tbody {
  padding: 10px 0;
  background: #fff;
}

/* Profile */
.card-profile {
  width: 90%;
  max-width: 500px;
  background: #fff;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 60px 20px 30px 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: relative;
}

.card-profile-image {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  position: absolute;
  top: -100px;
}

.card-profile-user {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.card-profile-type {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.card-profile-datas {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.card-profile-data {
  padding: 10px;
  text-align: center;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background: whitesmoke;
}

.card-profile-buttons {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.card-profile-button {
  padding: 10px 20px;
  border-radius: var(--border-radius);
  background: var(--primary);
  color: #fff;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-profile-button:hover {
  background: var(--primary-hover);
}

/* Responsive Design 
____________________________*/

/* 768px - Tablet 
____________________________*/
@media only screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .modal-document {
    width: 100%;
    height: 400px;
  }

  .home-cards {
    width: 80%;
    grid-template-columns: 1fr;
  }

}

/* 425 - Cellphone
____________________________*/
@media only screen and (max-width: 425px) {

  .title {
    text-align: center;
  }

  .card-amount {
    margin: auto;
  }

  .document {
    margin: auto;
  }

  .card-profile-image {
    width: 100px;
    height: 100px;
    top: -50px;
  }

  .home-cards {
    padding: 20px 0;
  }
  
}